{% extends 'main.html' %}

{% block content %}
{% load static %}
<main class="profile-page layout layout--2">
    <div class="container">
        <!-- Topics Start -->
        {% include 'base/beats-list.html' %}
        <!-- Topics End -->

        <!-- Room Start -->
        <div class="room">
        <div class="room__top">
            <div class="room__topLeft">
            <a href="{% url 'beat' beat.id %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                ></path>
                </svg>
            </a>
            <h3></h3>
            </div>

            {% if beat.creater == request.user %}
            <div class="room__topRight">
            </div>
            {% endif %}

        </div>
        <div class="room__box scroll">
            <div class="layout__body"></div>
                {% include 'base/delete-beat.html' %}
                
            <div class="room__header scroll">
                <div class="room__info">
                    <h3><a href="{% url 'beat-info' beat.id %}">{{beat.name}}</a></h3>
                    <span>Created by <a href="{% url 'profile' beat.creater %}">@{{beat.creater}}</a></span>
                </div>
            </div>
            <div class="room__details">
            {% if beat.description != '' %}
                <h5>Description</h5>
                {{beat.description}}
            {% endif %}
            </div>
            <div class="room__conversation room__members">
                <div class="threads scroll">
                    {% for m in members %}
                    <div class="thread">
                        <div class="thread__top">
                            <div class="thread__author">
                                <a href="{% url 'profile' m %}" class="thread__authorInfo">
                                    <div class="avatar avatar--small">
                                        {% if not m.profile_img %}
                                            <img src="{% static 'images/avatar.svg' %}" alt="avatar">
                                        {% else %}
                                            <img src="{{m.profile_img.url}}" alt="avatar">
                                        {% endif %}
                                    </div>
                                    <span>@{{m}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="room__options">
                {% if request.user == beat.creater %}
                <a class="btn btn--main beat_btn" href="{% url 'edit-beat' beat.id %}">
                    <img class="svg-icon" src="{% static 'icons/1976055_edit_edit document_edit file_edited_editing_icon.svg' %}" alt="edit">
                    edit
                </a>
                
                <span onclick="openForm()" class="btn btn--main beat_btn">
                    <img class="svg-icon" src="{% static 'icons/370086_bin_delete_empty_out_recycle_icon.svg' %}" alt="delete">
                    delete
                </span>
                {% else %}
                <a class="btn btn--main beat_btn" href="{% url 'exit-beat' beat.id %}">
                    <img class="svg-icon" src="{% static 'icons/3005766_account_door_exit_logout_icon.svg' %}" alt="delete">
                    exit
                </a>
                
                {% endif %}
            </div>
        </div>
        
    </div>
  </main>

  {% endblock %}