{% extends 'main.html' %}

{% block content %}

<div class="home-container">
    <div class="beats-list home-section">
        {% include 'base/beats-list.html' %}
    </div>
    <div class="beat home-section">
        <h2><a href="{% url 'beat-info' beat.id %}">{{beat.name}}</a></h2>
        {% if beat %}
        <small>Created by <a href="{% url 'profile' beat.creater %}">@{{beat.creater}}</a></small>
        <hr>
        {% endif %}
        {% for msg in chat %}
            <div>
                {% if msg.action %}
                <h6>{{msg.body}}</h6>
                {% else %}
                <small>@{{msg.user}} {{msg.created|timesince}} ago {% if msg.user == request.user %}<a href="{% url 'delete-msg' msg.id %}">delete</a>{% endif %}</small>
                <p>{{msg.body}}</p>
                {% endif %}
            </div>
        {% endfor %}
        {%  if request.user.is_authenticated %}
            <div class="comment-form">
                <form method="post" class="input-group mb-3">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Write your message here.." aria-label="Write a message" name="body">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}