{% extends 'main.html' %}

{% block content %}

<main class="layout layout--3">
    <div class="container">
        <!-- Topics Start -->
        {% include 'base/beats-list.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
            <!-- todo later -->
            <div class="mobile-menu">
                {% include 'base/beats-list-mobile.html' %}
            </div>

            <div class="roomList__header">
                
            </div>
        </div>
        <!-- Room List End -->

    </div>
</main>
{% endblock %}