{% extends 'main.html' %}

{% block content %}

<div class="signin-form">
    <h2 class="form-title">Log in</h2>
    <form method="post" class="register-form" id="login-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="email" name="email" id="your_name" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password" class="form-label"></label>
            <input type="password" id="your_pass" placeholder="Password" name="password">
        </div>
        <div class="form-group form-button">
            <button type="submit" id="signin" class="form-submit">Submit</button>
        </div>
    </form>
    <p>Haven't signed up yet?</p>
    <a href="{% url 'signup' %}">Sign up</a>
</div>

{% endblock %}